@import "tailwindcss";


@layer base {
  body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #1B2316;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  }
}
